

  
  .login-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  .login-link {
    margin-top: 15px;
    text-align: center;
    color: #333;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  
 
