.submit-btn {
  background-color: #28a745;
  color: #fff;
  padding: 12px;
  margin-top: 10px;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden; /* To contain the loader */
  transition: background-color 0.3s ease;
}

.submit-btn.loading {
  background-color: #218838; /* Darker shade when loading */
  cursor: not-allowed; /* Change cursor when loading */
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  padding: 12px;
  height: 20px;
  border: 4px solid white;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}
